html{
    scroll-behavior: smooth;
}

#btn{
    padding: 8px 12px;
}

.navigate{
    background-color: yellow;
}

#btn:hover{
    background-color: yellow;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
}

.head:hover{
    color: aqua;
    cursor: pointer;
}

input::placeholder{
    color: red;
}

.name::after{
    content: " gupta";
    color: cadetblue;
}

.name::before{
    content: "Mr. ";
    color: grey;
}